@font-face {
  font-family: "KyivType";
  src: url(../fonts/kyivtype/KyivType-NoVariable/WEB/KyivTypeSans-Regular2.woff2) format("woff2");
}
@font-face {
  font-family: "KyivTypeBold";
  src: url(../fonts/kyivtype/KyivType-NoVariable/WEB/KyivTypeSans-Medium2.woff2) format("woff2");
}
@font-face {
  font-family: "KyivTypeBolder";
  src: url(../fonts/kyivtype/KyivType-NoVariable/WEB/KyivTypeSans-Heavy2.woff2) format("woff2");
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .heading {
  text-align: center;
  color: #2C525A;
  font-family: "KyivTypeBold", serif;
  font-size: clamp(30px, 4.5vw, 50px);
  margin: 10px 0 5px 0;
  max-width: 95vw;
  position: relative;
  padding-right: 1px;
}
body main .heading::after {
  content: "Ваш комфорт — наш пріоритет";
  color: #333333;
  font-family: "KyivTypeBold", serif;
  font-size: clamp(30px, 4.5vw, 50px);
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: -1;
}
body main .wrapper {
  width: 95%;
  margin: 10px 0;
  display: grid;
  justify-items: center;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(max(130px, 22vw), 1fr));
}
body main .wrapper .card {
  background-color: #F5EEE6;
  display: flex;
  flex-direction: column;
  gap: min(7px, 1vw);
  padding: min(15px, 2vw);
  border-radius: clamp(15px, 3vw, 20px);
  border: solid clamp(2px, 0.3vw, 3px) #333333;
  width: min-content;
  transition: box-shadow 0.25s ease;
  font-size: clamp(15px, 1.75vw, 22px);
  width: 85%;
}
body main .wrapper .card .user {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
body main .wrapper .card .user .avatar {
  width: 22.5%;
  border-radius: 50%;
  border: solid clamp(1px, 0.2vw, 2px) #333333;
}
body main .wrapper .card .user .userInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  flex-grow: 1;
}
body main .wrapper .card .user .userInfo h1 {
  font-size: 1em;
  font-family: "KyivTypeBold", serif;
  color: #333333;
}
body main .wrapper .card .user .userInfo h2 {
  font-size: 0.8em;
  font-family: "KyivType", serif;
  color: #333333;
}
body main .wrapper .card .stars {
  display: inline-flex;
  gap: 3px;
}
body main .wrapper .card .stars svg {
  width: max(15px, 1.5vw);
  height: auto;
  aspect-ratio: 1 / 1;
}
body main .wrapper .card .stars .yellow path {
  fill: #FFBB00;
}
body main .wrapper .card p {
  font-family: "Kurale", serif;
  color: #555555;
  font-size: 0.7em;
  margin-bottom: auto;
  overflow: hidden;
}
body main .wrapper .card h3 {
  font-family: "Kurale", serif;
  color: #555555;
  opacity: 0.5;
  font-size: 0.7em;
  cursor: pointer;
  margin-bottom: auto;
  display: none;
  width: min-content;
}
body main .wrapper .card .google {
  width: max(50px, 5vw);
  height: auto;
  aspect-ratio: 118 / 39;
  overflow: visible;
}
body main .wrapper .card:hover {
  box-shadow: 0 0 3px 2px #33333388;
}
body main a {
  text-decoration: none;
}
body main a button {
  background-color: #A3BFC5;
  border: solid 3px #333333;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.25s ease;
  font-family: "KyivType", serif;
  font-size: clamp(15px, 2.5vw, 30px);
  color: #333333;
  padding: 10px 15px;
  user-select: none;
  -webkit-user-select: none;
  margin: 15px 0;
}
body main a button:hover {
  box-shadow: 0 0 2px 1px #33333388;
}
